<!DOCTYPE html>
<html>
<head>
    <title>Add New Ship</title>
</head>
<body>
    <h1>Add New Ship</h1>
    <form method="post">
        Name: <input type="text" name="name" required><br>
        Last Maintenance (YYYY-MM-DD): <input type="date" name="last_maintenance" required><br>
        Ship Type: <input type="text" name="ship_type" required><br>
        Capacity (tons): <input type="number" name="capacity" required><br>
        <input type="submit" value="Add Ship">
    </form>
</body>
</html>
